:root {
  color-scheme: light dark;
  --text: #262626;
  --muted: #545454;
  --background: #f5f6f7;
  --content-background: #fff;
  --divider: rgba(0, 0, 0, 0.08);

  --small: 0.875rem;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #fff;
    --muted: #d0cece;
    --background: #202020;
    --content-background: #181818;
    --divider: rgba(255, 255, 255, 0.08);
  }
}

@font-face {
  font-family: Rubik;
  font-weight: 400;
  src: url(/fonts/Rubik-Regular-subset.woff2) format("woff2"),
    url(/fonts/Rubik-Regular-subset.woff) format("woff");
  unicode-range: u+20-7e, u+c5, u+c6, u+d8, u+e5, u+e6, u+f8;
  font-display: swap;
}
@font-face {
  font-family: Rubik;
  font-weight: 500;
  src: url(/fonts/Rubik-Medium-subset.woff2) format("woff2"),
    url(/fonts/Rubik-Medium-subset.woff) format("woff");
  unicode-range: u+20-7e, u+c5, u+c6, u+d8, u+e5, u+e6, u+f8;
  font-display: swap;
}

*,
:after,
:before {
  box-sizing: inherit;
}

html {
  font-size: 100%;
  box-sizing: border-box;
}

@media (min-width: 40em) {
  html {
    font-size: 110%;
  }
}

body {
  font-family: Rubik, -apple-system, BlinkMacSystemFont, Segoe UI, Helvetica,
    Arial, sans-serif;
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
  margin: 0;
  position: relative;
}

h1,
h2,
h3 {
  margin: 0;
}

a {
  color: inherit;
  text-decoration: none;
}

div[tabindex="-1"]:focus {
  outline: none;
}

:focus:not(:focus-visible) {
  outline: none;
}

.content {
  background-color: var(--content-background);
}

.section {
  margin-bottom: 1.5rem;
}

.heading {
  font-size: var(--small);
  color: var(--muted);
  font-weight: 400;
  margin-top: 0;
  margin-bottom: 0.25rem;
}

@media (min-width: 40em) {
  .content {
    border-radius: 0.5rem;
  }
}

.wrap {
  width: 96%;
  max-width: 40em;
  margin: 0 auto;
}

.header {
  border-bottom: var(--divider);
  padding-top: 2rem;
  padding-bottom: 1rem;
}

.header-inner {
  display: flex;
  flex-direction: column-reverse;
}

.title {
  font-size: 1.5rem;
  font-weight: 500;
  margin: 0;
}

.back {
  margin-bottom: 0.5rem;
  width: min-content;
}

.footer {
  text-align: center;
  font-size: var(--small);
  color: var(--muted);
}

.footer a {
  text-decoration: underline;
}

/* Index */

.list {
  margin: 0;
  padding: 0;
  list-style: none;
}

.list-item {
  margin: 0 0.75rem;
  padding: 0.75rem 0;
}
.list-item:not(:last-of-type) {
  border-bottom: 1px solid var(--divider);
}

.description {
  font-size: var(--small);
  color: var(--muted);
  margin: 0.25rem 0 0;
}

/* Dis. comp. */

.symbol {
  --light: #dedede;
  --green: #7ec9a1;
  --yellow: #e0c575;
  --orange: #d0903b;
  --red: #bd6969;

  margin-right: 0.5rem;
  display: block;
}

@media (prefers-color-scheme: dark) {
  .symbol {
    --light: #444444;
  }
}

.symbol:not(.large) {
  width: 1.5rem;
  height: 1.5rem;
}

.symbol.large {
  width: 1.75rem;
  height: 1.75rem;
}

[data-dist="0"] {
  color: var(--light);
}
[data-dist="1"] {
  color: var(--green);
}
[data-dist="2"] {
  color: var(--yellow);
}
[data-dist="3"] {
  color: var(--orange);
}
[data-dist="4"] {
  color: var(--red);
}
[data-dist="1"] {
  --color-dist2: var(--light);
}
[data-dist="1"],
[data-dist="2"] {
  --color-dist3: var(--light);
  --color-dist4: var(--light);
}
[data-dist="3"] {
  --color-dist4: var(--light);
}
